@charset "UTF-8";

/* JinGyu */


.mypagebox {
	justify-content: center;
   align-items: center;
   padding: 40px;
   border: 2px solid rgb(15, 162, 226);
   margin: 30px;
   width: 40%;
   box-shadow: 3px 3px 3px 3px rgb(15, 162, 226);
   text-align: center;
}

.mypagebox h1 {
   color: rgb(15, 162, 226);
}

.mypagebox th {
   width: 35%;
   
}

.petInsult{
   background-color: #E0E0E0;
   justify-content: center;
      align-items: center;
      text-align: center;    
}

.mypageTrade {
   width: 70%;
   text-align: center;
   justify-content: center;
   align-items: center;
   margin: 50px;
   float: right;
}

.mypageTrade div{
   padding: 20px;
   width: 25%;
   background-color: #E0E0E0;
}

.mypageTradeList{
   width: 90%;
   text-align: center;
   float: right;
}

/* ownerFormCheck 화면 */

.checkPet img, .checkSitter img, .profileUser img{
	width: 200px;
	heigth: 200px;
	border : 1px solid black;
	margin: 20px 10px 20px 10px;
	border-radius: 50%;
}

.checkPet{
	width: 40%;
	heigth: 500px;
	float: left;
}

.checkSitter{
	width: 40%;
	heigth: 500px;
	float: right;
}

.checkDetail {
	width:100%;
}

.checkDetail img{
	width: 150px;
	heigth: 150px;
	margin: 20px 10px 20px 10px;
}
/* profile 화면 */

.profileUser{
	width: 80%;
	heigth: 500px;
	float: left;
}

